body {
    background-color: wheat;
}

h1 {
    font-family: verdana, arial;
    color: white;
}

#p1 {
    font-family: "lucida console", "courier new";
    font-size: 18px;
    color: red;
}

#p2 {
    font-style: italic;
    font-size: 1em;
    color: rgb(90, 76, 132);
}

#p3 {
    font-size: 2em;
    color: #59ff5f;
}

.odd {
    background-color: black;
}

.even {
    background-color: white;
}