body {
    background-color: wheat;
}

h1 {
    color: white;
}

#p1 {
    color: red;
}

#p2 {
    color: rgb(90, 76, 132);
}

#p3 {
    color: #59ff5f;
}

.odd {
    background-color: black;
}

.even {
    background-color: white;
}