/* Navigation bar */
nav {
    background: #020617;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a { margin: 0 10px; }

/* Hamburger menu */
.menu {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000;
}

.menu button {
    background: var(--primary-color);
    color: black;
    padding: 10px 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s, transform 0.2s;
}

.menu button:hover {
    background: #0ea5e9;
    transform: scale(1.1);
}

.menu-content {
    display: none;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.menu-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-content a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    margin: 4px;
    transition: background 0.3s;
}

.menu-content a:hover { background: var(--accent); color: black; }
.menu-content a.darkblue-btn {
    background: #3a608b; color: white; font-size: 14px; padding: 6px 12px;
}
.menu-content a.darkblue-btn:hover { background:#0c6f9a; color: black; }
.menu-content a.gray-btn {
    background: #555; color: white; font-size: 14px; padding: 6px 12px;
}
.menu-content a.gray-btn:hover { background:#a9c0ca; color: black; }
