.settings {
    max-width: 300px;
    margin: 40px auto;
    text-align: left;
}

.settings label {
    display: block;
    margin-bottom: 12px;
}

.settings select, .settings input[type="checkbox"] {
    margin-left: 8px;
}
